/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* CSS Start */

i.glyphicon {
    display: block;
    font-size: 30px;
    text-align: center;
    line-height: 58px;
    vertical-align: middle;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clear-both {
    clear: both;
}

.hide {
    display: none;
}

.fullscreen {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 10;
}

body {
    font-family: "Open Sans", sans-serif;
}

#content {
    max-width: 980px;
    margin: auto;
}

#player, #player.fullscreen {
    margin: auto;
    width: 100%;
}

#video-panel {
    border: 1px solid red;
    background-color: black;
}

#video-panel.half {
    width: 50%;
    float: left;
}

#video-panel.full {
    width: 100%;
    float: none;
}

#video-player {
    margin: auto;
}

#slides-panel {
    border: 1px solid blue;
    width: 50%;
    background-color: black;
    float: right;
    margin: auto;
}

img#slide {
    display: block;
    margin: auto;
    max-width: 100%;
}

@media screen and (orientation: portrait) {
    #player.fullscreen #video-panel {
        float: none;
    }

    #player.fullscreen #slides-panel {
        float: none;
    }
}

#slides-bar {
    width: 100%;
    height: 100px;
    border: 1px solid green;
    background-color: black;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.slides-bar-slide-container {
    border: 1px solid purple;
    display: inline-block;
}

.slides-bar-slide-container > img {
    height: 100%;
    width: auto;
}

#control-panel {
    height: 58px;
    width: 100%;
    border: 1px solid #8e8e8e;
    border-radius: 0px;
    overflow: hidden;
}

#control-panel > div {
    height: 100%;
    line-height: 58px;
}

.cont.float-right, .button.float-right {
    border-left: 1px solid #8e8e8e;
}

.cont.float-left, .button.float-left {
    border-right: 1px solid #8e8e8e;
}

.cont, .button {
    cursor: pointer;
}

#control-panel .button  {
    color: #8e8e8e;
    width: 58px;
}

#control-panel .button:hover {
    color: #b83538;
    font-weight: bold;
}

#control-panel .cont {
    color: #8e8e8e;
    padding: 0px 10px 0px 10px;
}

#control-panel .cont:hover {
    color: #b83538;
}

/*
 * Volume
 */
#control-panel #volume {
    pointer: default;
}

#control-panel #volume > * {
    display: inline-block;
    cursor: pointer;
}

#volume-bar-container {
    width: 100px;
    height: 5px;
    background-color: #8e8e8e;
    margin-bottom: 8%;
}

#volume-bar {
    height: 100%;
    width: 50%;
    background-color: #b83538;
}

/*
 * Progressbar
 */

#progress-bar-panel {
    position: relative;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,8e8e8e+100&1+0,0.5+100 */
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(142,142,142,0.5) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(142,142,142,0.5) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(142,142,142,0.5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#808e8e8e',GradientType=0 ); /* IE6-9 */

    border-width: 1px 1px 0px 1px;
    border-color: #8e8e8e;
    border-style: solid;
    height: 28px;
}

#progress-bar-played {
    position: absolute;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff272d+0,ff2b31+100&0.5+0,1+100 */
    background: -moz-linear-gradient(top, rgba(255,39,45,0.5) 0%, rgba(255,43,49,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255,39,45,0.5) 0%,rgba(255,43,49,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255,39,45,0.5) 0%,rgba(255,43,49,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ff272d', endColorstr='#ff2b31',GradientType=0 ); /* IE6-9 */

    height: 100%;
    width: 0%;
    z-index: 1;
}

#progress-bar-buffered {
    position: absolute;
    height: 100%;
    border-right: 1px solid red;
    width: 0%;
    z-index: 2;
}